[submodule "asn1c"]
	path = asn1c
	url = https://github.com/vlm/asn1c.git
[submodule "pugixml"]
	path = pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "librdkafka"]
	path = librdkafka
	url = https://github.com/edenhill/librdkafka.git
[submodule "scms-asn"]
	path = scms-asn
	url = https://usdot-jpo-ode@bitbucket.org/usdot-jpo-ode/jpo-ode-scms-asn.git
